@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;

}
body{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
h1 {
    color: white;
    z-index: 3;
    position: absolute;
    top: 60px;
    text-shadow: 1px 1px black;
    font-family: "Poetsen One", sans-serif;
}
.python-rotativo{
    transform-style: preserve-3d;
    width: 2px;
    height: 2px;
    animation: rotatePython 15s infinite;
    top: 0;
    position: relative;
}


.python-right{
    position: absolute;
    width: 100px;
    transform: translateX(-5px) rotateY(60deg);
}

.python-right6{
    transform: translateX(-4px) rotateY(60deg);
}
.python-right7{
    transform: translateX(-3px) rotateY(60deg);
}
.python-right8{
    transform: translateX(-2px) rotateY(60deg);
}
.python-right9{
    transform: translateX(-1px) rotateY(60deg);
}
.python-right10{
    transform: translateX(0px) rotateY(60deg);
}


.python-left {
    position: absolute;
    transform: translateX(5px) rotateY(60deg);
    width: 100px;
}


.python-left1 {
    transform: translateX(1px) rotateY(60deg);
}
.python-left2 {
    transform: translateX(2px) rotateY(60deg);
}
.python-left3 {
    transform: translateX(3px) rotateY(60deg);
}
.python-left4 {
    transform: translateX(4px) rotateY(60deg);
}


.corpo-texto {
    background: black;
    height: 100%;
    width: 100%;
    z-index: 4;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-top: 150px;
}



@keyframes rotatePython {
    0%{
        transform: rotateY(0deg);
    }

    50%{
        transform:  rotateY(360deg);
    }

    100%{
        transform: rotateY(0deg);
    }
    
}




ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    color: white;
    list-style: none;
    position: relative;
    top: 0;
    animation: slide 105s infinite;
    animation-timing-function: steps(21);
    font-size: 40px;
    margin: 10px 0;
    font-family: "Poetsen One", sans-serif;
}

.wrapper{
    overflow: hidden;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.texto-fixo{
    height: 200px;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.texto-fixo p{
    color: white;
}

.texto-dinamico{
    height: 60px;
    z-index: 1;
    background-color: rgb(0 0 0);
    overflow: hidden;
    border-radius: 30px;
    padding: 0 30px;
}

li::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    border-left: 2px solid yellow;
    animation: typing 5s infinite;
    animation-timing-function: steps(22);
    background-color: rgb(0 0 0);
    z-index: 3;
}


@keyframes trocaDeCores{
    0%{

    }
    10%{
        
    }
}



@keyframes typing {
    40%, 60%{
        left: 100%;
    }
    100%{
    left: 0;
    }
}

@keyframes slide {
    100%{
        top: -1440px;
    }
}



@media (max-width: 600px) {
    
li{
    color: white;
    list-style: none;
    position: relative;
    top: 0;
    animation: slide 110s infinite;
    animation-timing-function: steps(22);
    font-size: 14px;
    letter-spacing: 0px;
    margin: 10px 0;
    font-family: "Lobster", sans-serif;
}

.wrapper{
    overflow: hidden;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.texto-dinamico{
    height: 35px;
    z-index: 1;
}

@keyframes slide {
    100%{
        top: -835px;
    }
}
    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
  }

audio{
    display: none;
  }